
body {
    text-align: center;
font-family:"serif";
font-size:small;
font-style: italic;
color:darkslategrey;
margin: 0;
padding: 0;
}
#container
{
    width: 35%;
    padding: auto;
    text-align: center;
    border: 1px solid;
    margin: 0 auto;

}
#cabecera
{
    font-size: 40px;
    text-align: left;
    background-color: blue;
    box-shadow: 0px 2px 20px 0px rgba(0,0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
    #cabecera #logo
{
width: 1px;
vertical-align:middle;
}


#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.6em;

}
#post
{
    background: white;
    padding: 1em;
}
#footer
{
    background: #777;
    color: aquamarine;
    text-align: center;
    padding: 0.5em;
}